<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- ANSI color codes -->
        <Property name="CONSOLE_LOG_PATTERN">⏱️ %style{%-13d{HH:mm:ss a}}{bright,cyan} [%t] %highlight{%6level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=blue, DEBUG=cyan, TRACE=green}     %-50logger{50} |   %style{%msg%n}{bright,yellow} </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>